.AnswerChoices {
  height: 50%;
  width: 97.5%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.AnswerChoices-user-direction {
  text-align: center;
  color: #171717;
  margin: 0 auto;
  padding: 10px;
}

.AnswerChoice-wrapper {
  padding: 5px;
  display: grid;
  grid-template-areas: 'left center right';
}

.AnswerChoice1 {
  grid-area: left;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.AnswerChoice2 {
  grid-area: center;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.AnswerChoice3 {
  grid-area: right;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

@media only screen and (max-width: 500px) {
  .AnswerChoices {
    height: 50%;
    width: 97.5%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
  }

  .AnswerChoices-user-direction {
    text-align: center;
    color: #171717;
    font-size: 0.75rem;
    margin: 0 auto;
    padding: 2.5px;
  }

  .AnswerChoice-wrapper {
    padding: 2.5px;
    display: grid;
    grid-template-areas: 'left center right';
  }

  .AnswerChoice1 {
    grid-area: left;
    border-radius: 15px;
    padding: 2.5px;
    margin: 2.5px;
  }

  .AnswerChoice2 {
    grid-area: center;
    border-radius: 15px;
    padding: 2.5px;
    margin: 2.5px;
  }

  .AnswerChoice3 {
    grid-area: right;
    border-radius: 15px;
    padding: 2.5px;
    margin: 2.5px;
  }
}
